:root {
    --acid-green: #CCFF00;
    --safety-orange: #FF4D00;
    --ink-black: #050505;
    --paper-white: #F2F2F2;
    --concrete-gray: #B0B0B0;
}

* { box-sizing: border-box; }

body {
    background-color: var(--paper-white);
    color: var(--ink-black);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--ink-black);
    padding-bottom: 1rem;
}

.brand {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.lang-selector button {
    background: none;
    border: 1px solid var(--ink-black);
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    padding: 2px 5px;
}
.lang-selector button:hover { background: var(--acid-green); }

/* PROGRESS BAR */
.progress-bar {
    width: 100%;
    height: 10px;
    border: 1px solid var(--ink-black);
    margin-bottom: 2rem;
    background: white;
}
.progress-fill {
    height: 100%;
    background: var(--ink-black);
    width: 0%;
    transition: width 0.3s;
}

/* PREGUNTAS */
.question-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.options-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-btn {
    background: white;
    border: 1px solid var(--ink-black);
    padding: 1rem;
    text-align: left;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 4px 4px 0px var(--ink-black);
    font-size: 0.9rem;
}

.option-btn:hover {
    background: var(--acid-green);
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px 0px var(--ink-black);
}

.option-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px var(--ink-black);
}

/* INPUTS DE TEXTO */
textarea, input[type="text"] {
    width: 100%;
    border: 1px solid var(--ink-black);
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 10px;
    background: white;
    box-shadow: 4px 4px 0px #ddd;
}

/* TERMINAL DE RESULTADOS */
.terminal-view {
    background: var(--ink-black);
    color: var(--acid-green);
    padding: 1.5rem;
    font-size: 0.8rem;
    border: 2px solid var(--ink-black);
    white-space: pre-wrap; /* Mantiene formato ASCII */
    margin-bottom: 1rem;
    max-height: 400px;
    overflow-y: auto;
}

.hidden { display: none !important; }
.blink { animation: blink 1s infinite; }

@keyframes blink { 50% { opacity: 0; } }